{% extends 'adopts.html' %}
{% load static %}

<!-- select dos estados -->
{% block state_option %}
{% for state in all_states %}
    <option {% if filtered_state == state.id %}selected{% endif %} value="{{state.id}}">
        {{state.estado}}
    </option>
{% endfor %}
{% endblock state_option %}
<!-- select dos estados -->


<!-- select das raças -->
{% block breed_options %}
{% for breed in all_breeds %}
    <option {% if raca == breed %}selected{% endif %} value="{{breed.id}}">
        {{breed}}
    </option>
{% endfor %}
{% endblock breed_options %}
<!-- select das raças -->


<!-- resultado de filtro dos pets -->
{% block pets_objs %}

{% for pet in page_obj %}
    <tr class="tabela-linha">
        <td width="20%">
            <a href="{% url 'see_pet' pet.id %}">
                <img width="40%" src="{{pet.foto.url}}">
            </a>
        </td>
        <td>
            {{pet.nome}}
        </td>
        <td>
            {{pet.raça}}
            
        </td>
        <td>

            {% if pet.status == "P" %}
                <span class="badge text-bg-primary">Para adoção</span>
            {% elif pet.status == "A" %}
                <span class="badge text-bg-success">Adotado</span>
            {% endif%}
            
        </td>
        <td>
            {{pet.cidade}}
        </td>
    </tr>
{% endfor %}

{% endblock pets_objs %}
<!-- resultado de filtro dos pets -->
